Pillow
azure-storage-blob
black
bokeh
boto3
build
cupy-cuda11x
detectron2
ffmpeg-python
flake8
google-cloud-storage
groundingdino-py
imageio
imageio-ffmpeg
ipykernel
isort
jupyter
jupyterlab
matplotlib
mkdocs
mkdocs-jupyter
mkdocs-material
mmcv
mypy
notebook
numba
numpy
onnxruntime
opencv-python
pandas
plotly
pre-commit
pydantic
pytest
pytest-cov
pytest-mock
pytest-xdist
pyyaml
requests
rich
scipy
seaborn
segment-anything
setuptools
sphinx
sphinx-rtd-theme
streamlit
torch
torchvision
tqdm
transformers
twine
typer
ultralytics
wheel
